<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="http://47.106.177.213:8081/contract/favicon.jpg"/>
    <title>管理系统</title>
  </head>
  <body>
    <script src=<%= htmlWebpackPlugin.options.path %>/static/Ueditor/ueditor.config.js></script>
    <script src=<%= htmlWebpackPlugin.options.path %>/static/Ueditor/ueditor.all.js></script>
    <script src=<%= htmlWebpackPlugin.options.path %>/static/Ueditor/lang/zh-cn/zh-cn.js></script>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
