<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="http://47.106.177.213/favicon.jpg"/>
    <link rel="stylesheet" type="text/css" href="./static/im/css/layui.css">
    <title>管理系统</title>
  </head>
  <body>
    <script src=<%= htmlWebpackPlugin.options.path %>/tinymce4.7.5/tinymce.min.js></script>
    <script src=<%= htmlWebpackPlugin.options.path %>/Ueditor/ueditor.config.js></script>
    <script src=<%= htmlWebpackPlugin.options.path %>/Ueditor/ueditor.all.js></script>
    <script src=<%= htmlWebpackPlugin.options.path %>/Ueditor/lang/zh-cn/zh-cn.js></script>
    <script src=<%= htmlWebpackPlugin.options.path %>/laydate/laydate.js></script>
    <script src=<%= htmlWebpackPlugin.options.path %>/im/layui.js></script>
    <script src=<%= htmlWebpackPlugin.options.path %>/KDN/KDNWidget.js></script>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
